
body{
    background: linear-gradient(315deg, #f0f0f0, #cacaca);
}

.container{
    padding: 0rem 0 1rem;
    margin-top: 1rem;
    /* background-color: rgb(112, 19, 112); */
    /* border: 5px solid #5b0663;
    border-radius: 20px; */
}

h1{
    font-size: 4rem;
    color: rgb(255, 255, 255);
    margin: 1rem 0 1rem 0;
    text-align: center;
    font-weight: bolder;
}


.texto-3D {
    
    font-size: 98px;
    color: #ff0707; //#ffc107;
    font-family: Pacifico, cursive;
    text-shadow: .8px .8px 0 rgb(255, 255, 255), /*0px 0px 0 rgb(245,183,0)*/
    1px 1px 0 rgb(236,174,0),
    2px 2px 0 rgb(226,164,0),
    3px 3px 0 rgb(217,155,0),
    4px 4px 0 rgb(207,145,0),
    5px 5px 0 rgb(198,136,0),
    6px 6px 0 rgb(188,126,0),
    7px 7px 0 rgb(179,117,0),
    8px 8px 0 rgb(169,107,0),
    9px 9px  0 rgb(159,97,0),
    10px 10px 9px rgba(0,0,0,0.74),
    10px 10px 1px rgba(0,0,0,0.5),
    0px 0px 9px rgba(0,0,0,.2);
}

.bienvenida{
    margin: auto;
    font-size: 1.5rem;
}

.jugador_id{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 0.5px solid #ff0707; */
    border-radius: 15px;
    padding: 1rem .5rem;
    margin: 1rem 1rem;
    /* box-shadow: 2px 2px 4px 1px rgba(116,44,32,0.7); */
    border-radius: 50px;
    background: linear-gradient(315deg, #f0f0f0, #cacaca);
    box-shadow:  -12px -12px 18px #b1b1b1,
             12px 12px 18px #ffffff;
}

.nombreJugador {
    display: inline;
    width: 100%;
    background-color: #f0ebe6;
    /* border: 0.5px solid #ff0707; */
    border: 0px;
    border-radius: 10px;
    font-weight: bold;
    padding: .5rem;
    font-style: italic;
    /* box-shadow: 2px 2px 4px 1px rgba(116,44,32,0.7); */
    border-radius: 50px;
    background: linear-gradient(315deg, #f0f0f0, #cacaca);
    box-shadow:  -12px -12px 18px #b1b1b1,
             12px 12px 18px #ffffff;
}

.etiqueta_jugador{
    width: 50%;
    display: block;
    text-align: left;
}

#nombreJugador{
    margin-left: 10px;
    width: 100%;
    height: 30px;
    display: block;
    
}

.avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    /* box-shadow: 2px 2px 4px 1px rgba(116,44,32,0.7); */
    /* border-radius: 50px; */
    background: linear-gradient(315deg, #f0f0f0, #cacaca);
    box-shadow:  -12px -12px 18px #b1b1b1,
             12px 12px 18px #ffffff;
}

.jugador_nombre{
    width: 300px;
}

.contenedor_fichas{
    padding: 1rem 1rem;
    width: 100%;
}

.boton{
    padding: .5rem 2rem;
    justify-content: right;
    /* border: 0.5px solid #ff0707; */
    /* border-radius: 10px; */
    width: 30%;
    font-weight: bold;
    margin: 0 .2rem;
    border: 0px;
    /* box-shadow: 2px 2px 4px 1px rgba(116,44,32,0.7); */
    border-radius: 50px;
    background: linear-gradient(315deg, #f0f0f0, #cacaca);
    box-shadow:  -12px -12px 18px #b1b1b1,
             12px 12px 18px #ffffff;
}

.contenedor_texto{
    
    padding: 1rem 1rem;
}

.contenedor_botones{
    padding: 1rem .5rem;
    margin: 1rem 1rem;
    display: flex;
    justify-content: space-evenly;
}

.texto{
    width: 100%;
    padding: 0 2rem;
    font-style: italic;
    text-align: center;
}

#contenedor_avisos{
    padding: .5rem 1rem;
    /* border: 0.5px ridge #ff0707; */
    border-radius: 15px;
    margin: 1rem;
    /* box-shadow: 2px 2px 4px 1px rgba(116,44,32,0.7); */
    display: none;
    border-radius: 50px;
    background: linear-gradient(315deg, #f0f0f0, #cacaca);
    box-shadow:  -12px -12px 18px #b1b1b1,
             12px 12px 18px #ffffff;
    
}

#contenedor_avisos textarea {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    border: none;
    color: #ff0707;
    background: linear-gradient(315deg, #f0f0f0, #cacaca);
}

.pColor{
    font-size: 1.5rem;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(8, 4rem);
    grid-template-rows:  4rem 4rem  4rem 4rem 4rem 4rem 4rem 4rem;
    width: 32rem;
    margin: auto;
}

.player_container{
    margin-top: 2rem;
    padding-left: 3rem;
    text-align: left;
}

.container__flex{
    max-width: 1300px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.contenedor2{
    border: 4px solid black;
    display: none;
    grid-template-columns: repeat(8, 4rem);
    grid-template-rows:   4rem 4rem  4rem 4rem 4rem 4rem 4rem 4rem;
    width: 32.5rem;
    /* box-shadow: 2px 2px 4px 1px rgba(116,44,32,0.7); */
    /* border-radius: 50px; */
    background: linear-gradient(315deg, #f0f0f0, #cacaca);
    box-shadow:  -14px -14px 20px #b1b1b1,
             14px 14px 20px #ffffff;
}

.panel{
    
    text-align: center;
    padding-top: 0rem;
    width: 40rem;
    height: 32.5rem;
    /* border: 0.5px ridge #ff0707; */
    border-radius: 15px;
    /* box-shadow: 2px 2px 4px 1px rgba(116,44,32,0.7); */
    border-radius: 50px;
    background: linear-gradient(315deg, #f0f0f0, #cacaca);
    box-shadow:  -12px -12px 18px #b1b1b1,
             12px 12px 18px #ffffff;

}

.elige__fichas{
    margin-bottom: 1rem;
}

.ficha__b{
    height: 3rem;
    width: 3rem;
    border-radius: 90%;
    background-color: white;
    margin: .4rem .4rem;
    border: 8px double black;
    :hover{
        cursor: pointer;
    }

}

.ficha__r{
    height: 3rem;
    width: 3rem;
    border-radius: 90%;
    background-color:red;
    margin: .4rem .4rem;
    border: 8px double black;
    :hover{
        cursor: pointer;
    }
}

.ficha{
    height: 3rem;
    width: 3rem;
    &__negra{
        height: 3rem;
        width: 3rem;
        /* border: 4px solid red; */
        border-radius: 5px;
    }
    &__roja{
        height: 3rem;
        width: 3rem;
    }
}

#eligeNegra, #eligeRoja{
    width: 90px;
    height: 90px;
}


.celda__b{
    border: 1.5px solid black;
    background-color: rgb(163, 159, 159);
    padding: .4rem .4rem;
}

.celda__w{
    border: 1.5px solid black;
    background-color: white;
    padding: .4rem .4rem;
}

.recuadroAmarillo{
    border: 2px solid yellow;
    height: 90%;
    width: 90%;
}