
.container{
    padding: 0rem 0 1rem;
    background-color: rgb(241, 227, 209);
    text-align: center;
}

h1{
    font-size: 3rem;
    text-align: center;
    color: blue;
    margin: 1rem 0 1rem 0;
}

.bienvenida{
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
}

.boton{
    padding: 1rem 3rem;
    
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(8, 4rem);
    grid-template-rows:   4rem 4rem  4rem 4rem 4rem 4rem 4rem 4rem;
    width: 32rem;
    margin: auto;
}

.contenedor2{
    
    display: grid;
    grid-template-columns: repeat(8, 4rem);
    grid-template-rows:   4rem 4rem  4rem 4rem 4rem 4rem 4rem 4rem;
    width: 32rem;
    margin: auto;
    
}

.item{
  border: 1.5px solid black;
  
}

.ficha__b{
    height: 3rem;
    width: 3rem;
    border-radius: 90%;
    background-color: white;
    margin: .4rem .4rem;
    :hover{
        cursor: pointer;
    }
}

.ficha__r{
    height: 3rem;
    width: 3rem;
    border-radius: 90%;
    background-color:red;
    margin: .4rem .4rem;
    :hover{
        cursor: pointer;
    }
}

.celda__b{
    background-color: black;

}

.celda__w{
  background-color: white;
}